body {
    font-family: "Mukta", serif;
    background-color: #f4f7f6;
    color: #333;
    line-height: 1.6;
    overflow-x: hidden;
    margin: 0;
}

.m-Header {
 position: fixed;
    top: 0px;
    left: 0px;
    z-index: 99;
    background: #fff;
    box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.41);

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    span {
      
    width: 40px;
    height: 40px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    background-color: crimson;
    border-radius: 50%;
    }

    .userName {
        display: flex;
        align-items: center;
        column-gap: 10px;
    }

    .innerLogo {
     line-height: 0px;
    padding: 5px 0;
    border-radius: 5px;
    background: #FFF;

        img {
         width: 100px;
    height: auto;
    padding: 5px;
        }
    }
}

.sticky-buttons-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

.icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  cursor: pointer;
  color: #16274f;
}

.icon-label {
  margin-top: 2px;
  font-size: 10px;
}

    // .icon-wrapper {
    //     position: relative;
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    //     cursor: pointer;
    //     color: #16274f;
    // }



